<h1>Welcome vistor!</h1>
<h2>So, what's the story?</h2>
<p>Meg and Felix, two devs and both foodies start to keep track of the places they like: a food blog, basically.</p>
<p>It seems we're good at finding places before they get popular, so you might as well check this website out. </p>
<h2>How do you rate?</h2>
<p>We rate according to two criteria, veggie friedliness and overal rating. Let's elaborate:</p>
<h3>Veggie friedliness</h3>
<p>An important criteria for us, is this: </p>
{{rating-box rating=1 isVeggie=true}}
<p>
  A score of 1, means the place is basically only meat/fish, but the owner decided to put a veggie dish (not vegan!) on the menu.
  <br>
  A maximum score is simply: all vegetarian.
</p>
<h3>Overal rating</h3>
<p> This is sheer arbitrariness from our side. It basically tells you: did we like this place, given the quality of the food, the price, the establishment, etc... ?
  <br>
  Let's have a look at the meaning of the following rating:
</p>
{{rating-box rating=1}}
<p>
  Does an overal rating of 1 means the place sucks? Nope. Au contrair. This website, will only contain places we like.
  So the owner of the establishment should be happy here!

  So, a maximum score is simply: This place is simply amazing.
</p>
<h3>Where are the restaurants located?</h3>
<p>There will be a bias towards Brussels, but this is very likely to evolve over time.</p>
<h3>Can I contributed?</h3>
<p>Currently not. But if you have any suggestions, please shout on
  <span class="obfuscate">meg.vandezande@gmail.com</span> or  <span class="obfuscate">ruiz.felixuiz@gmail.com</span></p>
<h3>Who are we?</h3>
<p>
  <a href="https://www.linkedin.com/in/megvandezande">Meg</a>
  <br>
  <a href="www.linkedin.com/in/felix-ruiz-de-arcaute-1a8a304b">Felix</a>
  <br>
  Our company
  <br>
  bvba Megenfelixendekat - Witte Patersstraat 4 - 1040 Brussels - Belgium - vat: BE0675410010
</p>
{{outlet}}
