<div class="container-content">
  <div class="layout-column">
    <div class="flex">
      {{top-menu}}
    </div>
  </div>
  <div class="layout-row flex layout-align-center-center">
    <div class="flex">
      {{outlet}}
    </div>
  </div>
</div>

<div class="ad-horizontal">
  <div class="layout-column">
    <div class="flex ad-horizontal">advertising</div>
  </div>
</div>
